<div class="grid">
  <div class="nav">
    <ul>
      <li>Home</li>
      <li>Pages</li>
      <li>Accounts</li>
      <li>SEO</li>
      <li>Settings</li>
      <li>Logs</li>
      <li>Reports</li>
      <li></li>
    </ul>
  </div>
  <div class="row">
    <app-display-panel class="col-lg-6"></app-display-panel>
    <app-create-account-panel class="col-lg-6"></app-create-account-panel>

    <app-display-panel class="col-lg-12"></app-display-panel>
    <div id="editor-container">
    </div>
    <ng-quill-editor ng-model="title">
      <ng-quill-toolbar>
        <div>
            <span class="ql-formats">
                <button class="ql-bold" ng-attr-title="{{'Bold'}}"></button>
            </span>
          <span class="ql-formats">
                <select class="ql-align" ng-attr-title="{{'Aligment'}}">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                </select>
                <select class="ql-align">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                </select>
            </span>
        </div>
      </ng-quill-toolbar>
    </ng-quill-editor>
  </div>

</div>
